body {
  background-color: #DD2E18;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.nav {
  background-color: #DD2E18;
  padding: 10px;
  position: fixed;
  top: 0;
  width: flex;
}

.nav nav {
  display: flex;
  justify-content: space-between;
}

.Home-Button {
  background-color: #DD2E18;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Home-Button:hover {
  opacity: 0.7;
}

.About-Button {
  background-color: #DD2E18;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.About-Button:hover {
  opacity: 0.7;
}

.bod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

h1 {
  margin-bottom: 20px;
  
}

p {
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #45a049;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.on {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FFAB00;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.on:hover {
  opacity: 0.7;
}

#array-container {
  margin-top: 20px;
}

.train {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.car {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #FFAB00;
  border-radius: 10px;
  background-color: #FFAB00;
}

.step {
  margin-bottom: 10px;
}

abbr[title] {
  text-decoration: underline dotted;
}

abbr[title]:hover::after {
  content: attr(title);
  position: absolute;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 5px;
  width: 250px; /* adjust the width to your liking */
  white-space: normal; /* enable word wrapping */
}
